{% comment %}TODO consider https://developers.google.com/custom-search/docs/element{% endcomment %}
{% capture google_search_site %}{{ site.url }}{{ site.baseurl }}/{% endcapture %}
{% if page.language == "en" %}
   {% assign navdata = site.data.navigation_en %}
   {% assign langdata = site.data.language_en %}
{% else %}
   {% assign navdata = site.data.navigation %}
   {% assign langdata = site.data.language_de %}
{% endif %}

<script language="Javascript" type="text/javascript">
	function google_search() {
		var query = document.getElementById("google-search").value;
		window.open("https://www.google.com/search?q=" + query + "+site:" + "{{ google_search_site | cgi_escape }}");
	}
</script>

<form id="search" onsubmit="google_search(); return false;">
	<input type="text" id="google-search" placeholder="{{ langdata.enter_search_term }}">
</form>
<noscript>
	{{ langdata.search }} <a href="https://www.google.com/search?q=site:{{ google_search_site | cgi_escape }}" target="_blank">Google</a> for:
	<pre><code>search-term site:{{ google_search_site }}</code></pre>
</noscript>
